.wrapper {
  margin: 0 auto;
}

.container {
  max-width: 1180px;
}

.atom {
  margin: 10px;
}

//header
.header {
  background-color: #F0F0F0;

  &__flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__left {

  }

  &__right {

  }
}

//welcome
.welcome {
  background-color: #F0F0F0;
  padding: 8px 0 3px 0;
  color: dimgrey;
  font-family: 'proxima_nova_rgregular', sans-serif;
  font-size: 14px;
  font-weight: 300;
}



