.atom {
  margin: 10px;
  padding: 15px;
  border: 1px solid #ccc;

  &_min {
    width: 320px;
    margin: 0 auto;
  }
}

//welcome
.welcome {
  background-color: #F0F0F0;
  padding: 8px 0 3px 0;
  color: dimgrey;
  font-family: "ProximaNova";
  font-size: 14px;
  font-weight: 300;
}

//promo
.promo {
  height: 480px;
  background-image: url(img/promo_main.jpg);

  &__carousel {
    position: relative;
    top: 400px;
  }
}

//logo
.logo {

  &__img {
    cursor: pointer;
  }
}

//copyright
.copyright {

  &__descr {
    font-family: 'proxima_nova_rgregular', sans-serif;
    font-size: 14px;
    font-weight: 300;
  }
}

//title
.title {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.rating-star {

  &__badge {
    font-size: 10px;
    color: #ffd200;
    margin-bottom: 5px;
  }
}

//slideshow
.slideshow {
  position: relative;
  top: -3px;
}

//bigmenu
.bigmenu {

  &__title {
    font-size: 18px;
    font-weight: 700;
    color: #2c2c2c;
    text-transform: uppercase;
  }
}

.collection-blog {
  border: 1px solid #e5e5e5;
}


.carousel {
  &:focus {
    outline: none;
  }
}

//goods
.goods {
  //width: 875px;

  &__carousel {

  }
}

//banner
.banner {

  &__img {
    height: 343px;
  }
}

.subscribe-line {
  background-color: #F55751;
}










