.brands {
  width: 284px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &__el {
    width: 141px;
    border: 1px solid #e5e5e5;
    margin: 0 0 -1px -1px;

  }

  &__link {
    display: block;
  }

  &__img {
    padding: 10px 0 0 10px;
  }
}