.brands {

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &__el {
    width: 146px;
    border: 1px solid #e5e5e5;
    margin: 0 0 -1px -1px;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);

    &:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
    }
  }

  &__link {
    display: block;
  }

  &__img {
    padding: 10px 0 0 10px;
  }
}