.btn {
  background-color: #ffffff;
  //padding: 0 15px;
  text-transform: uppercase;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &_search {
    top: 3px;
    right: 4px;
    width: 34px;
    height: 34px;
    position: absolute;
  }

  &_subscribe {
    background-color: #363636;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 14px;
    font-family: 'Lato', sans-serif;

    &:hover {
      background-color: #000;
    }
  }

  &_opts {
    border: 1px solid #cccccc;
    font-size: 11px;
    padding: 9px 30px;
    color: dimgrey;

    &:hover {
      background-color: #fa5555;
      color: #ffffff;
      border-color: transparent;
      transition: 0.5s;
    }
  }

  &_heart,
  &_mail {
    border: 1px solid #cccccc;
    color: dimgrey;
    font-size: 11px;
    padding: 8px;
    text-align: center;

    &:hover {
      background-color: #fa5555;
      color: #ffffff;
      border-color: transparent;
      transition: 0.5s;


    }
  }
}