.input {

  &__el {
    height: 32px;
    width: 300px;
    border-radius: 5px;
    //border: 3px solid #fa5555;
    border: none;
    box-sizing: border-box;
    font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 300;
  }
}