.post {
  width: 285px;

  &__list {

  }

  &__el {
    margin-top: 20px;
  }

  &__link {

  }

  &__text {
    display: flex;
    font-family: "ProximaNova";
    font-size: 14px;
    font-weight: 400;
  }

  &__autor {
    color: #999;

    &_red {
      color: #fa5555;
    }
  }
}