.sidebar {
  width: 274px;
  border: 1px solid #E8E8E8;
  border-bottom: none;

  &__title {
    text-transform: uppercase;
    background-color: #EAEAEA;
    color: #3f3f3f;
    font-family: 'Lato', sans-serif;
    padding: 11px 20px;
  }

  &__list {

  }

  &__el {
    padding: 11px 21px 12px 20px;
    border-bottom: 1px solid #E8E8E8;
  }

  &__ico {
    margin-right: 10px;
  }

  &__link {
    display: block;
    text-decoration: none;
    position: relative;
  }

  &__ico-arrow {
    position: absolute;
    top: 1px;
    right: -12px;
    color: #444;
  }

  &__name {
    font-size: 13px;
    font-family: 'Lato', sans-serif;
    color: dimgrey;
    padding-left: 10px;

    &:hover {
      color: #fa5555;
    }
  }
}