.social {
  display: inline-flex;
  background-color: #F0F0F0;

  &_contacts {
    background-color: #ffffff;
  }

  &__list {

  }

  &__el {
    display: inline-flex;
    margin: 6px 2px;
  }

  &__link {

    &:hover {

      .social__ico {
        color: #fc9f9f;
      }
    }
  }

  &__ico {
    color: #000;
    font-size: 20px;
    opacity: 0.7;
  }
}