.vertical-list {
  //width: 298px;

  &__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

  }

  &__el {
    margin-bottom: 10px;
    padding-top: 4px;
    margin-right: 37px;
  }

  &__link {
    text-decoration: none;

    &:hover {
      color: #fa5555;
    }
  }

  &__title {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 25px;
  }

  &__text {
    font-family: "ProximaNova";
    font-size: 12px;
    font-weight: 400;
  }
}